<div>
    <h3>Drugbank</h3>
    <div><b>Drug description</b></div>
    <div>{{data.drugbank.description}}</div>
    <div><b>Drug type</b></div>
    <div>{{data.drugbank.drugType.join(", ")}}</div>
    <div><b>Bio-transformation</b></div>
    <div>{{data.drugbank.biotransformation}}</div>
    <div><b>Toxicity</b></div>
    <div>{{data.drugbank.toxicity}}</div>
    <div><b>Protein binding</b></div>
    <div>{{data.drugbank.proteinBinding}}</div>
    <div><b>Metling point</b></div>
    <div>{{data.drugbank.meltingPoint}}</div>

    <h3>ChEMBL</h3>
    <div><b>Molecule formula</b></div>
    <div>{{data.ChEMBL.molformula}}</div>
    <div><b>Molecule weight</b></div>
    <div>{{data.ChEMBL.molweight}}</div>
    <div><b>Logp</b></div>
    <div>{{data.ChEMBL.logp}}</div>
    <div><b>Smiles</b></div>
    <div>{{data.ChEMBL.smiles}}</div>
</div>